.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro1{
  color: white;
  display:inline-block;
  width:100%;
  height: 100%;
  background-image: linear-gradient(to right, #000f29 0%, #020f24  51%, #284170  100%);
}


.i1{
  background-image: linear-gradient(to right, #000f29 0%, #020f24  51%, #284170  100%);
}

.n1{
  background-image: linear-gradient(to right, #000f29 0%, #020f24  51%, #284170  100%);
}
.intro2{
  display: flex;
}

.image{
  width: 80%;
  opacity: 0.85;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.intro3{
  margin-top: 7%;
  margin-right: 55px;
  font-weight:400 ;
  color:white;
  font-size: x-large;
  width:70%;
  opacity: 0.7;
}

.navbar1{
  color:white;
}

.benefits1{
  margin-top: 7%;
  font-weight:700 ;
  color:black;
  width:70%;
}


.scenario1:hover{
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.navbarelementhover:hover{
  border-bottom: 2px solid cyan;
  /* transform: scale(1.025); */
  transition: transform 330ms ease-in-out;
}



         
.btn-grad {
  background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  height: fit-content;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.s1{
  background-image: linear-gradient(to right, #000f29 0%, #041738  51%, #284170  100%);
}


.service{
  display: flex;
  background-image: linear-gradient(to right, #000f29 0%, #041738  51%, #284170  100%);
  /* background-image: url(./Images/blue-blk-bkg.png); */
}


.service_left{
  width: 49%;
  background-color: white;
  border-radius: 20px;
}

.service_right{
  width: 49%;
  background-color: white;
  opacity: 0.95;
  border-radius: 20px;
}

.servhead{
  margin-top: 7%;
  margin-bottom: 0px;
  font-weight:700 ;
  color:black;
}



.service_right p span{
  margin: 2%;
  font-weight: 500;
  font-size: larger;
}

.imagehandle{
  border-radius: 35px ;
}

.footer{
  width: 80%;
  opacity: 0.7;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.f1{
  
  background-image: linear-gradient(to right, #000f29 0%, #020f24  51%, #284170  100%);
}

.footerstyle{
  margin-top: 7%;
  margin-left: 10px;
  margin-right: 55px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight:300 ;
  color:white;
  font-size: large;
  width:70%;
  border-bottom: 5px solid #43e0fe;
  opacity: 0.7;
}
